@import "wsformStyles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 1px;
  background-color: $tool-bar-color;
  border: solid 1px rgb(20, 19, 19);
  grid-template-areas:
    "navbar navbar"
    "sidebar content";
}
.sidebar {
  grid-area: sidebar;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgb(21, 20, 20);
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0 auto;
}
.sidebar__content {
  display: flex;
  padding-top: 10px;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
}

.content {
  grid-area: content;
  width: 100%;
  height: 100vh;
  background-color: black;
  padding: 10px 15px;
  box-sizing: border-box;
  color: rgb(12, 197, 142);
  white-space: pre-line;
  overflow: auto;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.navbar {
  grid-area: navbar;
  padding-left: 20px;
  display: flex;
  padding: 15px 0;
  background-color: rgb(207, 86, 86);
  column-gap: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  .navbar__logo {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(208, 216, 221);
  }
  .navbar__menu {
    display: flex;
    align-items: center;
    justify-items: flex-end;
    margin-left: auto;
    padding-right: 20px;
    column-gap: 10px;

    .navbar__menu-item {
      padding: 5px 5px;
      background-color: $button-color;
       color: $logo-color;
       border-radius: 5px;
       font-size: 10px;
      cursor: pointer;
      &:hover {
        filter: brightness(1.2);
      }
    }
  }
}
